table {
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    border: 1px solid black;
    cursor: pointer;
}

h1 {
    text-align: center;
}

td:hover {
    background-color: #f2f2f2;
}